Repository surfstudio/ReactiveDataDisplayManager, pull requests merged in 2021-02, with the labels that each got.

#77 Add table and scroll events
  .DS_Store
  ReactiveDataDisplayManager.xcodeproj/project.pbxproj
  Source/.DS_Store
  Source/REFACTORING/.DS_Store
  Source/REFACTORING/ScrollDirection.swift
  Source/REFACTORING/ScrollEvent.swift
  Source/REFACTORING/Table/Delegate/BaseTableDelegate.swift
  Source/REFACTORING/Table/Events/TableEvent.swift
  Source/REFACTORING/Table/Plugins/TableDirectionScrollablePlugin.swift
  Source/REFACTORING/Table/Plugins/TableHeaderVisiblePlugin.swift
  Source/REFACTORING/Table/Plugins/TableScrollablePlugin.swift
  Source/REFACTORING/Table/Table+RDDM.swift
Labels: feature

#78 Add prefetching plugins
  .DS_Store
  Example/Podfile
  Example/ReactiveDataDisplayManager/Application/Assets.xcassets/Contents.json
  Example/ReactiveDataDisplayManager/Application/Assets.xcassets/imageNotFound.imageset/Contents.json
  Example/ReactiveDataDisplayManager/Application/Assets.xcassets/imageNotFound.imageset/image-not-found-1.png
  Example/ReactiveDataDisplayManager/Application/Assets.xcassets/imageNotFound.imageset/image-not-found.png
  Example/ReactiveDataDisplayManager/Base.lproj/Main.storyboard
  Example/ReactiveDataDisplayManager/Table/Cells/Generators/ImageTableGenerator.swift
  Example/ReactiveDataDisplayManager/Table/Cells/Generators/TitleTableGenerator.swift
  Example/ReactiveDataDisplayManager/Table/Cells/ImageTableViewCell/ImageTableViewCell.swift
  Example/ReactiveDataDisplayManager/Table/Cells/ImageTableViewCell/ImageTableViewCell.xib
  Example/ReactiveDataDisplayManager/Table/Cells/TitleTableViewCell/TitleTableViewCell.swift
  Example/ReactiveDataDisplayManager/Table/Cells/TitleTableViewCell/TitleTableViewCell.xib
  Example/ReactiveDataDisplayManager/Table/ImageTableViewController/ImageTableViewController.swift
  Example/ReactiveDataDisplayManager/Table/MainTableViewController/MainTableViewController.swift
  Example/ReactiveDataDisplayManager/Table/PrefetchingTableViewController/NukeImagePrefetcher.swift
  Example/ReactiveDataDisplayManager/Table/PrefetchingTableViewController/PrefetchingTableViewController.swift
  Example/ReactiveDataDisplayManager/Table/TableViewController.swift
  Example/ReactiveDataDisplayManagerExample.xcodeproj/project.pbxproj
  Example/ReactiveDataDisplayManagerExample.xcodeproj/xcshareddata/xcschemes/ReactiveDataDisplayManagerExample.xcscheme
  README.md
  ReactiveDataDisplayManager.xcodeproj/project.pbxproj
  Source/.DS_Store
  Source/Protocols/Protocols.swift
  Source/REFACTORING/.DS_Store
  Source/REFACTORING/PrefetchEvent.swift
  Source/REFACTORING/Table/DataSource/BaseTableDataSource.swift
  Source/REFACTORING/Table/Manager/BaseTableStateManager.swift
  Source/REFACTORING/Table/Plugins/TablePrefetchProxyPlugin.swift
  Source/REFACTORING/Table/Plugins/TablePrefetcherablePlugin.swift
  Source/REFACTORING/Table/Table+RDDM.swift
Labels: feature

#79 Add example for foldable cell
  .DS_Store
  Example/ReactiveDataDisplayManager/Application/Assets.xcassets/upArrow.imageset/Contents.json
  Example/ReactiveDataDisplayManager/Application/Assets.xcassets/upArrow.imageset/upArrow.pdf
  Example/ReactiveDataDisplayManager/Base.lproj/Main.storyboard
  Example/ReactiveDataDisplayManager/Table/Cells/FoldableTableViewCell/FoldableTableViewCell.swift
  Example/ReactiveDataDisplayManager/Table/Cells/FoldableTableViewCell/FoldableTableViewCell.xib
  Example/ReactiveDataDisplayManager/Table/Cells/Generators/FoldableCellGenerator.swift
  Example/ReactiveDataDisplayManager/Table/FoldableTableViewController/FoldableTableViewController.swift
  Example/ReactiveDataDisplayManager/Table/MainTableViewController/MainTableViewController.swift
  Example/ReactiveDataDisplayManagerExample.xcodeproj/project.pbxproj
  Source/.DS_Store
  Source/Protocols/Protocols.swift
  Source/REFACTORING/.DS_Store
  Source/REFACTORING/Table/Delegate/BaseTableDelegate.swift
  Source/REFACTORING/Table/Manager/GravityTableStateManager.swift
  Source/REFACTORING/Table/Plugins/TableFoldablePlugin.swift
Labels: feature

#80 Added example for gravity cell
  Example/ReactiveDataDisplayManager/Base.lproj/Main.storyboard
  Example/ReactiveDataDisplayManager/Table/Cells/FoldableTableViewCell/FoldableTableViewCell.swift
  Example/ReactiveDataDisplayManager/Table/Cells/Generators/GravityCellGenerator.swift
  Example/ReactiveDataDisplayManager/Table/Cells/Generators/GravityFoldableCellGenerator.swift
  Example/ReactiveDataDisplayManager/Table/GravityTableViewController/GravityTableViewController.swift
  Example/ReactiveDataDisplayManager/Table/MainTableViewController/MainTableViewController.swift
  Example/ReactiveDataDisplayManagerExample.xcodeproj/project.pbxproj
  Source/REFACTORING/Table/Manager/GravityTableStateManager.swift
Labels: Refactoring

#81 Add example for movable cell
  Example/ReactiveDataDisplayManager/Base.lproj/Main.storyboard
  Example/ReactiveDataDisplayManager/Table/MainTableViewController/MainTableViewController.swift
  Example/ReactiveDataDisplayManager/Table/MovableTableViewController/MovableTableViewController.swift
  Example/ReactiveDataDisplayManager/Table/Views/Cells/FoldableTableViewCell/FoldableTableViewCell.swift
  Example/ReactiveDataDisplayManager/Table/Views/Cells/FoldableTableViewCell/FoldableTableViewCell.xib
  Example/ReactiveDataDisplayManager/Table/Views/Cells/Generators/FoldableCellGenerator.swift
  Example/ReactiveDataDisplayManager/Table/Views/Cells/Generators/GravityCellGenerator.swift
  Example/ReactiveDataDisplayManager/Table/Views/Cells/Generators/GravityFoldableCellGenerator.swift
  Example/ReactiveDataDisplayManager/Table/Views/Cells/Generators/ImageTableGenerator.swift
  Example/ReactiveDataDisplayManager/Table/Views/Cells/Generators/MovableCellGenerator.swift
  Example/ReactiveDataDisplayManager/Table/Views/Cells/Generators/TitleTableGenerator.swift
  Example/ReactiveDataDisplayManager/Table/Views/Cells/ImageTableViewCell/ImageTableViewCell.swift
  Example/ReactiveDataDisplayManager/Table/Views/Cells/ImageTableViewCell/ImageTableViewCell.xib
  Example/ReactiveDataDisplayManager/Table/Views/Cells/TitleTableViewCell/TitleTableViewCell.swift
  Example/ReactiveDataDisplayManager/Table/Views/Cells/TitleTableViewCell/TitleTableViewCell.xib
  Example/ReactiveDataDisplayManager/Table/Views/HeaderView/HeaderView.swift
  Example/ReactiveDataDisplayManager/Table/Views/HeaderView/HeaderView.xib
  Example/ReactiveDataDisplayManager/Table/Views/HeaderView/TitleHeaderGenerator.swift
  Example/ReactiveDataDisplayManagerExample.xcodeproj/project.pbxproj
  Source/REFACTORING/.DS_Store
  Source/REFACTORING/Table/DataSource/BaseTableDataSource.swift
  Source/REFACTORING/Table/DataSource/MovableTableDataSource.swift
  Source/REFACTORING/Table/Delegate/BaseTableDelegate.swift
  Source/REFACTORING/Table/Delegate/MovableTableDelegate.swift
  Source/REFACTORING/Table/Table+RDDM.swift
Labels: Refactoring

#82 Renaming and some deprecations
  .DS_Store
  .gitignore
  Example/ReactiveDataDisplayManager/Table/FoldableTableViewController/FoldableTableViewController.swift
  Example/ReactiveDataDisplayManager/Table/MovableTableViewController/MovableTableViewController.swift
  ReactiveDataDisplayManager.xcodeproj/project.pbxproj
  ReactiveDataDisplayManagerTests/GravityFoldingHeaderGenerator.swift
  Source/.DS_Store
  Source/BaseCollectionDataDisplayManager/BaseCollectionDataDisplayManager.swift
  Source/BaseStackDataDisplayManager/BaseStackDataDisplayManager.swift
  Source/BaseTableDataDisplayManager/BaseTableDataDisplayManager.swift
  Source/BaseTableDataDisplayManager/ExtendableBaseTableDataDisplayManager.swift
  Source/BaseTableDataDisplayManager/FoldingTableDataDisplayManager.swift
  Source/BaseTableDataDisplayManager/GravityFoldingTableDataDisplayManager.swift
  Source/BaseTableDataDisplayManager/GravityTableDataDisplayManager.swift
  Source/BaseTableDataDisplayManager/PaginableBaseTableDataDisplayManager.swift
  Source/Protocols/DataDisplayManager.swift
  Source/REFACTORING/.DS_Store
  Source/REFACTORING/Protocols/AbstractCellGenerator.swift
  Source/REFACTORING/Protocols/AbstractStateManager.swift
  Source/REFACTORING/Protocols/Plugins/Plugin.swift
  Source/REFACTORING/Protocols/Plugins/PluginCollection.swift
  Source/REFACTORING/Table/DataSource/BaseTableDataSource.swift
  Source/REFACTORING/Table/Delegate/BaseTableDelegate.swift
  Source/REFACTORING/Table/Delegate/MovableTableDelegate.swift
  Source/REFACTORING/Table/Manager/BaseTableManager.swift
  Source/REFACTORING/Table/Manager/GravityTableManager.swift
  Source/REFACTORING/Table/Manager/ManualTableManager.swift
  Source/REFACTORING/Table/Plugins/BaseTablePlugin.swift
  Source/REFACTORING/Table/Plugins/TableDirectionScrollablePlugin.swift
  Source/REFACTORING/Table/Plugins/TableDisplayablePlugin.swift
  Source/REFACTORING/Table/Plugins/TableFoldablePlugin.swift
  Source/REFACTORING/Table/Plugins/TableHeaderVisiblePlugin.swift
  Source/REFACTORING/Table/Plugins/TableLastCellIsVisiblePlugin.swift
  Source/REFACTORING/Table/Plugins/TablePrefetchProxyPlugin.swift
  Source/REFACTORING/Table/Plugins/TablePrefetcherablePlugin.swift
  Source/REFACTORING/Table/Plugins/TableScrollablePlugin.swift
  Source/REFACTORING/Table/Plugins/TableSelectablePlugin.swift
  Source/REFACTORING/Table/Table+RDDM.swift
  Source/REFACTORING/UITableViewCellGenerator.swift
Labels: Refactoring

#85 add pr template
  .github/pull_request_template.md
Labels: Low

#87 Add new base approach for collection view
  Example/ReactiveDataDisplayManager/Base.lproj/Main.storyboard
  Example/ReactiveDataDisplayManager/Collection/ImageCollectionViewController/Cells/ImageCell/ImageCollectionViewCell.swift
  Example/ReactiveDataDisplayManager/Collection/ImageCollectionViewController/Cells/ImageCell/ImageCollectionViewCell.xib
  Example/ReactiveDataDisplayManager/Collection/ImageCollectionViewController/ImageCollectionViewController.swift
  Example/ReactiveDataDisplayManager/Collection/MainCollectionViewController/MainCollectionViewController.swift
  Example/ReactiveDataDisplayManagerExample.xcodeproj/project.pbxproj
  ReactiveDataDisplayManager.xcodeproj/project.pbxproj
  Source/REFACTORING/Collection/Collection+RDDM.swift
  Source/REFACTORING/Collection/DataSource/BaseCollectionDataSource.swift
  Source/REFACTORING/Collection/Delegate/BaseCollectionDelegate.swift
  Source/REFACTORING/Collection/Events/CollectionEvent.swift
  Source/REFACTORING/Collection/Manager/BaseCollectionManager.swift
  Source/REFACTORING/Collection/Plugins/BaseCollectionPlugin.swift
Labels: Refactoring

#88 Update refactoring doc
  Source/REFACTORING/Docs/AbstractDataDisplayManager.png
  Source/REFACTORING/Docs/README.md
  Source/REFACTORING/Docs/TableDataDisplayManager.png
Labels: Refactoring

#90 Add feature plugins
  Example/ReactiveDataDisplayManager/Table/AlphabeticalTableViewController/AlphabeticalTableViewController.swift
  Example/ReactiveDataDisplayManager/Table/MovableTableViewController/MovableTableViewController.swift
  Example/ReactiveDataDisplayManager/Table/SectionTitleTableViewController/SectionTitleTableViewController.swift
  ReactiveDataDisplayManager.xcodeproj/project.pbxproj
  Source/REFACTORING/Protocols/Plugins/FeaturePlugin/FeaturePlugin.swift
  Source/REFACTORING/Protocols/Plugins/PluginAction/Plugin.swift
  Source/REFACTORING/Protocols/Plugins/PluginAction/PluginCollection.swift
  Source/REFACTORING/Table/DataSource/BaseTableDataSource.swift
  Source/REFACTORING/Table/DataSource/MovableTableDataSource.swift
  Source/REFACTORING/Table/Delegate/BaseTableDelegate.swift
  Source/REFACTORING/Table/Delegate/MovableTableDelegate.swift
  Source/REFACTORING/Table/Plugins/FeaturePlugin/TableMovablePlugin.swift
  Source/REFACTORING/Table/Plugins/FeaturePlugin/TableSectionTitleDisplayablePlugin.swift
  Source/REFACTORING/Table/Plugins/PluginAction/BaseTablePlugin.swift
  Source/REFACTORING/Table/Plugins/PluginAction/TableDirectionScrollablePlugin.swift
  Source/REFACTORING/Table/Plugins/PluginAction/TableDisplayablePlugin.swift
  Source/REFACTORING/Table/Plugins/PluginAction/TableFoldablePlugin.swift
  Source/REFACTORING/Table/Plugins/PluginAction/TableHeaderVisiblePlugin.swift
  Source/REFACTORING/Table/Plugins/PluginAction/TableLastCellIsVisiblePlugin.swift
  Source/REFACTORING/Table/Plugins/PluginAction/TablePrefetchProxyPlugin.swift
  Source/REFACTORING/Table/Plugins/PluginAction/TablePrefetcherablePlugin.swift
  Source/REFACTORING/Table/Plugins/PluginAction/TableScrollablePlugin.swift
  Source/REFACTORING/Table/Plugins/PluginAction/TableSelectablePlugin.swift
  Source/REFACTORING/Table/Table+RDDM.swift
Labels: Refactoring, feature

#93 Add swipe actions support
  Example/ReactiveDataDisplayManager/Application/Assets.xcassets/edit.imageset/Contents.json
  Example/ReactiveDataDisplayManager/Application/Assets.xcassets/edit.imageset/edit.pdf
  Example/ReactiveDataDisplayManager/Base.lproj/Main.storyboard
  Example/ReactiveDataDisplayManager/Table/MainTableViewController/MainTableViewController.swift
  Example/ReactiveDataDisplayManager/Table/SwipeableTableViewController/SwipeActionProvider.swift
  Example/ReactiveDataDisplayManager/Table/SwipeableTableViewController/SwipeableTableViewController.swift
  Example/ReactiveDataDisplayManager/Table/Views/Cells/Generators/SwipeableTableGenerator.swift
  Example/ReactiveDataDisplayManager/Table/Views/Cells/Generators/TitleTableGenerator.swift
  Example/ReactiveDataDisplayManagerExample.xcodeproj/project.pbxproj
  ReactiveDataDisplayManager.xcodeproj/project.pbxproj
  Source/REFACTORING/Protocols/Plugins/FeaturePlugin/FeaturePlugin.swift
  Source/REFACTORING/Protocols/Plugins/FeaturePlugin/TableFeaturePlugin/TableMovable.swift
  Source/REFACTORING/Protocols/Plugins/FeaturePlugin/TableFeaturePlugin/TableSectionTitleDisplayable.swift
  Source/REFACTORING/Protocols/Plugins/FeaturePlugin/TableFeaturePlugin/TableSwipeActionsConfigurable.swift
  Source/REFACTORING/Protocols/Plugins/TableItems/SectionTitleDisplayble/SectionTitleDisplayble.swift
  Source/REFACTORING/Protocols/Plugins/TableItems/SwipeableItem/SwipeableItem.swift
  Source/REFACTORING/Table/Delegate/BaseTableDelegate.swift
  Source/REFACTORING/Table/Plugins/FeaturePlugin/TableSwipeActionsConfigurationPlugin/TableSwipeActionsConfiguration.swift
  Source/REFACTORING/Table/Plugins/FeaturePlugin/TableSwipeActionsConfigurationPlugin/TableSwipeActionsConfigurationPlugin.swift
  Source/REFACTORING/Table/Table+RDDM.swift
  Source/Utils/Extensions.swift
Labels: Refactoring

#91 Add sizable cell support
  Example/ReactiveDataDisplayManager/Base.lproj/Main.storyboard
  Example/ReactiveDataDisplayManager/Collection/MainCollectionViewController/MainCollectionViewController.swift
  Example/ReactiveDataDisplayManager/Collection/SizableCollectionViewController/Cells/SizableCell/SizableCollectionViewCell.swift
  Example/ReactiveDataDisplayManager/Collection/SizableCollectionViewController/Cells/SizableCell/SizableCollectionViewCell.xib
  Example/ReactiveDataDisplayManager/Collection/SizableCollectionViewController/Generators/SizableGenerator/VerticalSizableTextGenerator.swift
  Example/ReactiveDataDisplayManager/Collection/SizableCollectionViewController/SizableCollectionViewController.swift
  Example/ReactiveDataDisplayManagerExample.xcodeproj/project.pbxproj
  ReactiveDataDisplayManager.xcodeproj/project.pbxproj
  Source/REFACTORING/Collection/Collection+RDDM.swift
  Source/REFACTORING/Collection/Delegate/FlowCollectionDelegate.swift
Labels: Refactoring

#94 Add examples for item scroll manager
  Example/Podfile
  Example/ReactiveDataDisplayManager/Base.lproj/Main.storyboard
  Example/ReactiveDataDisplayManager/Collection/ImageCollectionViewController/ImageCollectionViewController.swift
  Example/ReactiveDataDisplayManager/Collection/ImageHorizontalCollectionViewController/ImageHorizontalCollectionViewController.swift
  Example/ReactiveDataDisplayManager/Collection/MainCollectionViewController/MainCollectionViewController.swift
  Example/ReactiveDataDisplayManager/Collection/PrefetchingCollectionViewController/PrefetchingCollectionViewController.swift
  Example/ReactiveDataDisplayManager/Table/ImageTableViewController/ImageTableViewController.swift
  Example/ReactiveDataDisplayManager/Table/PrefetchingTableViewController/PrefetchingTableViewController.swift
  Example/ReactiveDataDisplayManagerExample.xcodeproj/project.pbxproj
  ReactiveDataDisplayManager.xcodeproj/project.pbxproj
  Source/REFACTORING/Collection/Delegate/BaseCollectionDelegate.swift
  Source/REFACTORING/Collection/Plugins/CollectionScrollViewDelegateProxyPlugin.swift
  Source/REFACTORING/Collection/Plugins/CollectionScrollablePlugin.swift
  Source/REFACTORING/Collection/Plugins/CollectionSelectablePlugin.swift
  Source/REFACTORING/Collection/Plugins/CollectionSelectedItemScrollablePlugin.swift
  Source/REFACTORING/Protocols/Plugins/PluginAction/Collection/CollectionScrollProvider.swift
  Source/REFACTORING/ScrollEvent.swift
  Source/REFACTORING/Table/Delegate/BaseTableDelegate.swift
  Source/REFACTORING/Table/Plugins/PluginAction/TableScrollViewDelegateProxyPlugin.swift
Labels: Refactoring, feature

#92 Add foldable cell support
  Example/ReactiveDataDisplayManager/Base.lproj/Main.storyboard
  Example/ReactiveDataDisplayManager/Collection/FoldableCollectionViewController/Cells/FoldableCell/FoldableCollectionViewCell.swift
  Example/ReactiveDataDisplayManager/Collection/FoldableCollectionViewController/Cells/FoldableCell/FoldableCollectionViewCell.xib
  Example/ReactiveDataDisplayManager/Collection/FoldableCollectionViewController/FoldableCollectionViewController.swift
  Example/ReactiveDataDisplayManager/Collection/FoldableCollectionViewController/Generators/FoldableCollectionCellGenerator.swift
  Example/ReactiveDataDisplayManager/Collection/MainCollectionViewController/MainCollectionViewController.swift
  Example/ReactiveDataDisplayManagerExample.xcodeproj/project.pbxproj
  ReactiveDataDisplayManager.xcodeproj/project.pbxproj
  Source/REFACTORING/Collection/Manager/BaseCollectionManager.swift
  Source/REFACTORING/Collection/Plugins/CollectionFoldablePlugin.swift
  Source/REFACTORING/Collection/Protocols/CollectionFoldableItem.swift
Labels: Refactoring

#97 Add new name space for stackView
  Example/ReactiveDataDisplayManager/Stack/StackViewController.swift
  Example/ReactiveDataDisplayManager/Stack/TitleStackCellGenerator.swift
  ReactiveDataDisplayManager.xcodeproj/project.pbxproj
  Source/BaseStackDataDisplayManager/BaseStackDataDisplayManager.swift
  Source/REFACTORING/Stack/Manager/BaseStackManager.swift
  Source/REFACTORING/Stack/Stack+RDDM.swift
Labels: Refactoring, feature

#105 Change name of generator array in stack manager
  ReactiveDataDisplayManagerTests/REFACTORING/Stack/Manager/BaseStackManagerTests.swift
  Source/REFACTORING/Stack/Manager/BaseStackManager.swift
Labels: Refactoring

#99 Replace custom generators to base generator
  Example/ReactiveDataDisplayManager/Base.lproj/Main.storyboard
  Example/ReactiveDataDisplayManager/Collection/CollectionListViewController/CollectionListViewController.swift
  Example/ReactiveDataDisplayManager/Collection/CollectionViewController/CollectionViewController.swift
  Example/ReactiveDataDisplayManager/Collection/FoldableCollectionViewController/FoldableCollectionViewController.swift
  Example/ReactiveDataDisplayManager/Collection/FoldableCollectionViewController/Generators/FoldableCollectionCellGenerator.swift
  Example/ReactiveDataDisplayManager/Collection/ImageCollectionViewController/ImageCollectionViewController.swift
  Example/ReactiveDataDisplayManager/Collection/ImageHorizontalCollectionViewController/ImageHorizontalCollectionViewController.swift
  Example/ReactiveDataDisplayManager/Collection/MainCollectionViewController/MainCollectionViewController.swift
  Example/ReactiveDataDisplayManager/Collection/PrefetchingCollectionViewController/PrefetchingCollectionViewController.swift
  Example/ReactiveDataDisplayManager/Collection/Views/Cells/FoldableCollectionViewCell/FoldableCollectionViewCell.swift
  Example/ReactiveDataDisplayManager/Collection/Views/Cells/FoldableCollectionViewCell/FoldableCollectionViewCell.xib
  Example/ReactiveDataDisplayManager/Collection/Views/Cells/Generators/FoldableCollectionCellGenerator.swift
  Example/ReactiveDataDisplayManager/Collection/Views/Cells/Generators/ImageCollectionCellGenerator.swift
  Example/ReactiveDataDisplayManager/Collection/Views/Cells/Generators/TitleCollectionGenerator.swift
  Example/ReactiveDataDisplayManager/Collection/Views/Cells/Generators/TitleCollectionListGenerator.swift
  Example/ReactiveDataDisplayManager/Collection/Views/Cells/Generators/VerticalSizableTextGenerator.swift
  Example/ReactiveDataDisplayManager/Collection/Views/Cells/TitleCollectionListCell/TitleCollectionListCell.swift
  Example/ReactiveDataDisplayManager/Collection/Views/Cells/TitleCollectionViewCell/TitleCollectionViewCell.swift
  Example/ReactiveDataDisplayManager/Table/AllPluginsTableViewController/AllPluginsTableViewController.swift
  Example/ReactiveDataDisplayManager/Table/AlphabeticalTableViewController/AlphabeticalTableViewController.swift
  Example/ReactiveDataDisplayManager/Table/FoldableTableViewController/FoldableTableViewController.swift
  Example/ReactiveDataDisplayManager/Table/GravityTableViewController/GravityTableViewController.swift
  Example/ReactiveDataDisplayManager/Table/ImageTableViewController/ImageTableViewController.swift
  Example/ReactiveDataDisplayManager/Table/MainTableViewController/MainTableViewController.swift
  Example/ReactiveDataDisplayManager/Table/MovableTableViewController/MovableTableViewController.swift
  Example/ReactiveDataDisplayManager/Table/PrefetchingTableViewController/PrefetchingTableViewController.swift
  Example/ReactiveDataDisplayManager/Table/SectionTitleTableViewController/SectionTitleTableViewController.swift
  Example/ReactiveDataDisplayManager/Table/SwipeableTableViewController/SwipeableTableViewController.swift
  Example/ReactiveDataDisplayManager/Table/Views/Cells/FoldableTableViewCell/FoldableTableViewCell.swift
  Example/ReactiveDataDisplayManager/Table/Views/Cells/Generators/FoldableCellGenerator.swift
  Example/ReactiveDataDisplayManager/Table/Views/Cells/Generators/GravityCellGenerator.swift
  Example/ReactiveDataDisplayManager/Table/Views/Cells/Generators/GravityFoldableCellGenerator.swift
  Example/ReactiveDataDisplayManager/Table/Views/Cells/Generators/ImageTableGenerator.swift
  Example/ReactiveDataDisplayManager/Table/Views/Cells/Generators/MovableCellGenerator.swift
  Example/ReactiveDataDisplayManager/Table/Views/Cells/Generators/SwipeableTableGenerator.swift
  Example/ReactiveDataDisplayManager/Table/Views/Cells/Generators/TitleTableGenerator.swift
  Example/ReactiveDataDisplayManager/Table/Views/Cells/TitleTableViewCell/TitleTableViewCell.swift
  Example/ReactiveDataDisplayManager/Table/Views/Headers/Generators/SectionTitleHeaderGenerator.swift
  Example/ReactiveDataDisplayManager/Utils/SwipeActionProvider.swift
  Example/ReactiveDataDisplayManagerExample.xcodeproj/project.pbxproj
  ReactiveDataDisplayManager.xcodeproj/project.pbxproj
  Source/BaseCollectionDataDisplayManager/Support/BaseCollectionCellGenerator.swift
  Source/BaseTableDataDisplayManager/Support/BaseCellGenerator.swift
Labels: Refactoring, feature

#104 Add tests for stack manager
  ReactiveDataDisplayManager.xcodeproj/project.pbxproj
  ReactiveDataDisplayManagerTests/REFACTORING/Stack/Manager/BaseStackManagerTests.swift
  Source/REFACTORING/Stack/Manager/BaseStackManager.swift
Labels: Refactoring

#103 Add tests for collection manager
  ReactiveDataDisplayManager.xcodeproj/project.pbxproj
  ReactiveDataDisplayManagerTests/REFACTORING/Collection/Manager/BaseCollectionManagerTests.swift
  ReactiveDataDisplayManagerTests/REFACTORING/Stack/Manager/BaseStackManagerTests.swift
  Source/REFACTORING/Collection/Manager/BaseCollectionManager.swift
  Source/REFACTORING/Stack/Manager/BaseStackManager.swift
Labels: Refactoring
